@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Основной стиль для всего приложения */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    box-sizing: border-box;
}

.app {
    display: flex;
    height: 100vh;
}

.App-header {
    grid-column: 1 / -1;
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

.actions,
.filters {
    margin-bottom: 20px;
    margin-left: 250px;
}

/* Основной контент */
.content {
    margin-left: 250px; /* Должен соответствовать ширине боковой панели */
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

/* Кнопка открытия модального окна */
.open-modal-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="date"] {
    display: block;
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 15px auto;
    padding: 10px;
    background-color: #efe4e4;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}


/* Общий стиль кнопок */
button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Более тёмный оттенок синего при наведении */
button:hover {
    background-color: #0056b3;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: #c4c4c4;
}

.icon-button img {
    width: 24px; /* или другой размер, подходящий для ваших иконок */
    height: 24px;
}

/* Фильтры */
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.filters input[type="text"],
.filters input[type="number"],
.filters input[type="date"],
.filters button {
    flex: 1 1 190px;
    max-width: 250px;
}

.filters button {
    flex: 0 0 auto;
    padding: 10px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #0056b3;
}

/* Таблица данных */
table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 250px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    background-color: #ffffff;
}

/* Фиксированная высота строк таблицы */
table tr {
    height: 20px;
}

/* Пагинация */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.covid-module {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}